.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .btn-primary,
    .btn-info,
    .btn-default {
        margin-top: 10px;
    }
}